<h1>
  Random Calculation
</h1>
<form action="/random/results"
  <div>
    <label for="input_min">
      Minimum
    </label>
    <input id="input_min" type="text" name="user_min" placeholder="E.g. 1.5">
  </div>
  <div>
    <label for="input_max">
      Maximum
    </label>
    <input id="input_max" type="text" name="user_max" placeholder="E.g. 4.5">
  </div>
  <button>Pick random number</button>
</form>
